body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* for landing page */

.main-content {
  flex: 1;
}

.custom-footer {
  background-color: #024731;
  color: white;
}

.main-note-button {
  background: #5AA68E;
  border-radius: 20px;
  color: white;
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}

.main-note-button:hover {
  background-color: #4b907a;
}

.landing-background {
  background-color: #EEE7DF;
  min-height: 100vh; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.landing-image {
  width: 80%;
  margin-bottom: 2rem;
}

.landing-buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background: #024731;
  height: 114px;
  flex-shrink: 0;
}

/* For navbar items */
.logobar {
  width: 280px;
  height: 80px;
  flex-shrink: 0;
  background: #f5bd89;
  color: #090909;

  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
}

/* For navbar items */
.navbaritems {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

a.navbaritems {
  color: #fff;
}
#login-dropdown {
  color: #fff;
}

/* For View notes*/

.headerGlobalNotes{
  color: #024731;

font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
justify-content: center;
align-items: center;
}

.tanbox{
  color: #EAC3A0;
  width: 1198px;
  height: 70px;
}

.note{
  background: #D9D9D9;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
max-width: 50%;
padding: 40px;
border-radius: 10px;
color: #000;
margin: 20px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.filterbox{
  color: #FFF3E2;
}

.dropbox{
  background: #FFF3E2;
  color: #024731
}

.viewnotefont{
  font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}