html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #EEE7DF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
}

.custom-footer {
  background-color: #024731;
  color: white;
}

.main-note-button {
  background: #5AA68E;
  border-radius: 20px;
  color: white;
  font-size: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}

.main-note-button:hover {
  background-color: #4b907a;
}

.landing-background {
  background-color: #EEE7DF;
  min-height: 100vh; 
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
